.root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: auto;
  min-height: 500px;
  margin-top: 100px;
}
.image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: auto;
  min-height: 500px;
  background-image: url(note.jpg);
  background-size: cover;
}
.filters {
  display: flex;
  align-items: flex-start;
  width: 70%;
  margin: auto;
  min-height: 500px;
  margin-top: 50px;
  justify-content: center;
}
